/*
	Border helpers 
*/

.off-canvas-wrapper {
	/*border: 1px solid red;*/
}


.off-canvas-content {
	/*border: 1px solid blue;*/
}

/*
	Border helpers  end
*/
body {
	font-family: 'Verdana';
	font-size: 14px;
	/*background-color: #FAFAFA;*/
	background-color: #fff;
}

a {
	padding: 0;
	margin: 0;
	outline: 0;
	color: #203FAB;
	-webkit-appearance: none;
	transition: color 0.25s ease-out;
	-webkit-transition: color 0.25s ease-out;
	-moz-transition: color 0.25s ease-out;
	-o-transition: color 0.25s ease-out;
	-ms-transition: color 0.25s ease-out;
}

a:hover {
	color: #12177D;
	text-decoration: underline;
}

a:focus {
	color: #12177D;
}

ul {
	list-style-type: none;
	margin: 0;
	padding:0;
}

/*
  ========================================
  menu
  ========================================
*/
/* Foundation classes */
.off-canvas-wrapper {
	border-bottom: 1px solid #E5E5E5;
}


.off-canvas {
	height: 100%;
}

.off-canvas,
.off-canvas-content {
	box-shadow: none;
	/*background-color: #FAFAFA;*/
	background-color: #fff;
}

.off-canvas-content {
	min-height: 800px;
}

/* Foundation classes end */

.menu-btn-container {
	position: absolute;
	margin: 0;
	padding: 0;
	height: 100%;
}

.menu-btn {	
	margin: 0;
	padding: 0;
	width: 23px;
	height: 100%;
	background-color: #015150;
}

.menu-btn:hover {
	background-color: #028482;
}

.menu-btn:focus {
	background-color: #015150;
}

.off-canvas-nav-title {
	padding: 5px 5px 0 0;
	font-size: 12px;
	font-weight: bold;
	color: #949494;
	text-align: right;
}

.off-canvas-nav {
	margin: 20px 0 0 0;
}

.off-canvas-nav ul {
	padding: 1px;
	border-bottom: 1px solid #E5E5E5;
}

.off-canvas-nav ul:last-child {
	border-bottom:0;
}

.off-canvas-nav a {
	margin: 0;
	font-size: 11px;
	background-color: #fff;
	font-weight: bold;
	width:100%;
	text-align: left;
	color: #242424;
}

.off-canvas-logo {
	text-align: center;
}
.off-canvas-logo img {
	width:240px;
}

.off-canvas-nav a:hover,
.off-canvas-nav a:focus {
	background-color: #242424;
}


/*
  ========================================
  content
  ========================================
*/
.container {
	margin: 0 7px 0 30px;
}

/*
  ========================================
  content - navbar
  ========================================
*/
.logo {
	width: 65px;
	margin-top: -4px
}

.content-nav {
	border-bottom: 1px solid #E5E5E5;
}

.content-nav li{
	font-size: 12px;
}

.wiki-title,
.logo-container,
.search-form,
.welcome-msg {
	display: inline-block;
}

.main-title,
.main-subtitle {
	font-family: "Times New Roman";
}

.wiki-title {
	padding-top: 10px;
	float: right;
}

.user-nav {
	margin-bottom: 0.5em;
}

.user-status-online {
	color: #000;
	font-weight: bold;
}

.search-input {
	padding: 4px 10px;
	margin: 0;
	width: auto;
	border: 1px solid #D9D9D9;
 	height: 100%;
 	font-size: 13px; 	
 	border-radius: 15px;
 	box-shadow: none;
 	text-align: right;
}

.main-title {
	padding:0;
	margin:-7px 0 0 0;
	text-align: right;
	letter-spacing: 1px;
}

.main-subtitle {
	font-size: 13px;
	font-style: italic;
	letter-spacing: 1px;
}

/*
  ========================================
  content - wiki-content
  ========================================
*/
.row,
.columns {
	padding: 0;
	margin: 0;
}

.js-drilldown-back {
	font-weight: bold;
}

.drilldown-close {
	font-weight: bold;
}

.contentContainer {
	margin: 30px 0;
}

.sister-projects {
	position: absolute;
	bottom: 0;
	
    /*margin-left: -22px;*/
}

.sister-projects li {
	display: inline-block;
}

.sister-projects a {
	width: 100%;
	color: #242424;
	background-color: #F2F2F2;
	padding: 10px 0;
	margin: 0;
	text-decoration: none;
}

.ss-commons {
	border-radius: 10px 0 0 0;
}

.ss-commons:hover {
	background-color: #d10000;
}

.ss-media:hover {
	background-color: #ff6622;
}

.ss-meta:hover {
	background-color: #ffda21;
}

.ss-books:hover {
	background-color: #33dd00;
}

.ss-data:hover {
	background-color: #1133cc;
}

.ss-news:hover {
	background-color: #220066;
}

.ss-quote:hover {
	background-color: #330044;
}

.ss-source:hover {
	background-color: #d10000;
}

.ss-species:hover {
	background-color: #ff6622;
}

.ss-versity:hover {
	background-color: #ffda21;
}

.ss-voyage:hover {
	background-color: #33dd00;
}

.ss-tionary:hover {
	background-color: #1133cc;
}


.lang-item {
	border:1px solid #E5E5E5;
}

.wiki-content {
	background: #FAFAFA;
	background: -webkit-linear-gradient(to bottom, #F2F2F2, #fff);
	background: -moz-linear-gradient(to bottom, #F2F2F2, #fff);
  	background: -o-linear-gradient(to bottom, #F2F2F2, #fff);
	background: linear-gradient(to bottom, #F2F2F2, #fff);
}

.article-count,
.edit-menu {
	text-align: center;
	background-color: #fff;
	border: 1px solid #E5E5E5;
	float: right;
}

.article-count-num {
	font-weight: bold;
}

.menu-language {
	position: absolute;
	font-size: 12px;
	width: 115px;
	padding: 0;
	margin: 0;
	z-index: 0;
}

.menu-language a:after,
.js-drilldown-back:before {
	display: none;
}

.menu-language ul {
	margin: 0;
	padding: 0;
}
.ss {
	font-size: 14px;
}
.ss-superscript {
	
	font-family: 'Alice';
	font-size: 11px;
	vertical-align: super;
}

.ss-superscript:before {
	content: 'Wiki';
}

/*
  ========================================
  content - featured-content
  ========================================
*/
.featured-container {
	border: 1px solid #E8E8E8;
	border-radius: 0 0 15px 15px;
	background-color: #fff;
	margin-bottom: 130px;
}

.featured-nav,
.featured-nav a,
.featured-nav-dot a {
	padding: 0;
	margin: 0;
}

.featured-nav-dot {
	text-align: center;
}

.featured-nav-dot li {
	padding: 3px 7px;
}

.feat-lnk {
	color: #242424; 
	background-color: #FAFAFA;
	text-transform: uppercase;
	width: 100%;
}

.feat-lnk:hover {
	color: #FAFAFA;
	background-color: #242424;
	text-decoration: none;
}

.feat-lnk:focus {
	color: #FAFAFA; 
	background-color: #242424;
}

.feat-dot {
	width: 15px;
	height: 15px;
	border-radius: 15px;
	background-color: #B0B0B0;
	padding: 0;
	margin: 0;
}

.feat-dot:hover,
.feat-dot:focus {
	text-decoration: none;
	background-color: #242424;
}


.feat-btn-active {
	color: #FAFAFA;
	background-color: #242424;
}

.feat-dot-active {
	color: #242424;
}

.featured-nav li,
.featured-nav-dot li {
	display: inline-block;	
}

.featured-nav li {
	width: 33.33%;
}

.carousel-container {
	overflow: hidden;
}

.carousel {
	width: 300%;
}

.feat-inline {
	display: inline-block;
	width: 33.33%;
	vertical-align: top;
}

.feat-inline article {
	padding: 12px 8px 0 8px;
}

.image-prev {
	padding-bottom: 12px;
}

.article-sub-links {
	text-align: right;
}

.article-sub-links li {
	display: inline-block;
}

.feat-article-snippets  {
	list-style-type: none;
}

/* carousel html tag overrides */
.carousel h1,
.carousel h2,
.carousel h3,
.carousel h4,
.carousel h5 {
	border-bottom: 1px solid #A6A3A4;
	padding: 0;
	margin: 0;
	line-height: 1;
}


/*
  ========================================
  content - news
  ========================================
*/

/*
  ========================================
  article pages
  ========================================
*/
.textareaHtml {
	min-height: 500px;
	max-height: 1000px;
	font-size: 14px;
}

.btnContainer {
	float: right;
}

.btnContainer .button {
	background-color: #666666;
	padding: 10px;
	margin: 0;
	outline: 0;
}						

.btnContainer .button:hover {
	background-color: #828282;
}

.callout {
	border: 0;
	font-size: 13px;
	padding: 8px;
}

/*
  ========================================
  article pages - html tag overrides
  ========================================
*/
.contentViewport h1,
.contentViewport h2,
.contentViewport h3,
.contentViewport h4,
.contentViewport h5 {
	border-bottom: 1px solid #A6A3A4;
	padding: 0;
	margin: 0;
	line-height: 1;
	font-family: "Times New Roman";
}

.contentViewport .image {
	width: 225px;
	float: left;
	font-size: 11px;
	font-style:italic;
	padding: 4px;
	margin: 15px 15px 0 0;
	border: 1px solid #D9D5D6;
	background-color: #F5F5F5;
}

.contentViewport .image:after {
	display: block;
}



/*
  ========================================
  policy
  ========================================
*/
.policy {
	padding: 20px 20px;
	font-size: 11px;
}

.footer-links li {
	display: inline-block;
	padding: 15px 10px 0 0;
}

.footer-icons {
	text-align: right;
}

.footer-icons li {
		display: inline-block;
		padding-left:5px;
}


/* media queries */
@media screen and (max-width:39.9999em) {
	.ss-meta {
		border-radius: 0 10px 0 0;	
	}
	.wiki-content {
		padding: 10px 0 0 0;
	}
	.title-full {
		display:none;
	}
	.search-input {
		min-width: 200px;		
	}
	.sister-projects {
		margin-left: -7px;
	}
	.sister-projects li {
		width: 33.33%;	
	}
	.sister-projects a {
		padding: 5px 0;
	}
	.article-count,
	.edit-menu {
		font-size: 10px;
		width: 160px;
	}
	.featured-nav {
		display: none;
	}
}

@media screen and (min-width:40em) {
	.ss-news {
		border-radius: 0 10px 0 0;	
	}

	.search-input {
		min-width: 240px;		
	}
	.wiki-content {
		padding: 15px;
	}

	.sister-projects {
	    width: 90%;
	    left: 50%;
		transform: translateX(-50%);
	}

	.sister-projects li {
		width: 16.66%;
	}

	.article-count,
	.edit-menu {
		font-size: 11px;
		width: 180px;
	}

	.featured-nav a {
		padding: 5px 3px;
		font-size: 12px;
	}

	.featured-nav-dot {
		display: none;
	}

@media screen and (min-width:60em) {
	.ss-news {
		border-radius: 0 10px 0 0;	
	}

	.search-input {
		min-width: 450px;		
	}

	.sister-projects {
	    width: 80%;
	    left: 50%;
		transform: translate(-50%, 0);
	}

	.sister-projects li {
		/*width: 8.33%;*/
		width: 16.66%;
	}

	.article-count,
	.edit-menu {
		font-size: 11px;
		width: 180px;
	}

	.featured-nav a {
		padding: 10px 8px;
		font-size: 14px;
	}

	.featured-nav-dot {
		display: none;
	}
}

.testDiv {
	margin-top:10px;
	font-size: 11px;
}

.networkStatusNOK {
	color: red;
}

.networkStatusOK {
	color: green;
}